{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>The Best Christmas Movies</title>
        <link href="{% static 'christmasflix/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'christmasflix/base.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row my-3">
                <div class="col-md-12 col-md-offset-2">
                    <div class="text-center">
                        <h1 id="list-title" class="cover-heading lead">{% block header_text %}{% endblock %}</h1>
                    </div>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-md-3 col-md-offset-2">
                    <div class="text-center">
                        <form method="{% block form_method %}{% endblock %}" action="{% block form_action %}{% endblock %}">
                            <input name="user_request"
                                   id="id_new_movie"
                                   class="form-control input-lg"
                                   placeholder="{% block form_placeholder %}{% endblock %}"/>
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
            </div>
            <div class="container-fluid movie-app">
                <div class="row my-3">
                    {% block table %}
                    {% endblock %}
                </div>
            </div>
            <div class="row my-3">
                <div class="col-md-8 col-md-offset-2">
                    {% block nav %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>