{% extends 'christmasflix/base.html' %}
{% block header_text %} {{ movies }}'s Christmas Movie List{% endblock %}
{% block form_placeholder %}Enter a another movie{% endblock %}
{% block form_action %}/christmasflix/{{ movies.id }}/add_movie/{% endblock %}

{% block table %}
            <ul>
                {% for movie in movies.movie_set.all %}
                <img src="{{ movie.img_url }}" alt="{{ movie.title }}">
                {% endfor %}
            </ul>
{% endblock %}

{% block nav %}
    <a class="btn btn-success" href="{% url 'christmasflix:movies' %}" role="button">See all movies</a>
    <a class="btn btn-success" href="{% url 'christmasflix:index' %}" role="button">Back to Home</a>
{% endblock %}