<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>The Best Christmas Movies</title>
    </head>
    <body>
        <h1>Movies</h1>
        <p>{{ movies }}</p>
            <ul>
                {% for movie in movies.movie_set.all %}
                <li>{{ movie.title }}</li>
                {% endfor %}
            </ul>
    </body>
</html>
