{% extends 'christmasflix/base.html' %}

{% block content %} 
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form
        method="POST"
        action="/christmasflix/new/">
        {% csrf_token %}
        <input
          name="user_request"
          id="id_new_movie"
          class="form-control input-lg"
          placeholder="Start a new movielist"
        />
                    
      </form>
    </div>
  </div>
  {% if movie_lists %}
    <div class="row pt-3">
      <div class="col-md-8 offset-md-2">
        <table class="table">
          <tr>
            <thead class="thead-light">
              <tr>
                <th scope="col">List Name</th>
                <th scope="col">User</th>
                <th scope="col">Date Created</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for movie in movie_lists %}
              <tr>
                <td>{{ movie }}</td>
                <td></td>
                <td>{{ movie.created_date|date:"F j, Y" }}</td>
                <td>
                  <a
                    class="btn btn-outline-info"
                    href="{% url 'christmasflix:movie_list' movie.id %}"
                    role="button"
                    >Update</a
                  >
                </td>
                <td>
                  <a
                    class="btn btn-outline-danger"
                    href="{% url 'christmasflix:delete_list' movie.id %}"
                    role="button"
                    >Delete</a
                  >
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </tr>
        </table>
      </div>
    </div>
  {% else %}
    <p class="lead">No lists are available.</p>
  {% endif %} 
{% endblock %}
