:root {
color-scheme: dark;
}

body {
  background-color: #141414;
  color: #FFFFFF;
  margin-top: 5rem;
}

.content-section {
	background: #141414;
	padding: 10px 20px;
	border: 1px solid #dddddd;
	border-radius: 3px;
	margin-bottom: 20px;
  }

.movie-app > .row {
	overflow-x: auto;
	overflow-y:hidden;
	flex-wrap: nowrap;
}

.image-container {
	position: relative;
	transition: transform 0.2s;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}

ul {
    list-style-type: none;
}
